@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: 'Bricolage Grotesque', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  padding: 0 1em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #242424;
  z-index: 1000;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  /* justify-content: space-around; */
}

.nav-item {
  margin: 0.5em;
}

.nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #333;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
}

.navbar-toggler-icon::before {
  top: -10px;
}

.navbar-toggler-icon::after {
  bottom: -10px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main > section {
  height: 100vh;
}

/* Landing */
.landing {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

.landing img {
  max-width: 100%;
  height: auto;
  display: block;
}

.landing,
.about {
  gap: 2em;
  padding: 2em 0;
}

/* About */
.about {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  max-width: 800px;
  /* flex-direction: row-reverse; */
}

.bio-desc {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  /* padding: 10em; */
}

.bio-img {
  display: flex;
  /* flex-direction: column; */
  /* flex: 3; */
  justify-content: flex-start;
}
/* .about > div {
  flex: 1;
} */

/* Projects
Resume
Landing */
.projects,
.resume,
.contact {
  height: 100vh;
}

.project-card__img {
  max-width: 500px;
}

.resume__img {
  max-width: 800px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.contact h2 {
  margin-bottom: 1.5em;
  font-size: 2.5em;
}

.contact form {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input,
textarea,
button {
  padding: 0.8em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: box-shadow 0.3s, transform 0.3s;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 10px rgba(116, 123, 255, 0.5);
  transform: translateY(-3px);
}

button {
  background-color: #747bff;
  color: #ffffff;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #636ae6;
}

button:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: block;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-link {
    text-align: center;
  }

  .landing {
    flex-direction: column;
    align-items: center;
  }

  .about {
    flex-direction: column;
  }

  .about > div {
    max-width: 80%;
    margin: 0 auto;
  }

  .about h2,
  .about p {
    max-width: 100%;
    text-align: left;
  }

  .about > div:first-child {
    padding-right: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
